<?xml version="1.0"?>
<!--
 * Space48_ProductAvailability
 *
 * @category    Space48
 * @package     Space48_ProductAvailability
 * @Date        03/2017
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 * @author      @diazwatson
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <space48_productavailability>
            <general>
                <enabled>0</enabled>
                <debug_mode>0</debug_mode>
            </general>
        </space48_productavailability>
    </default>
</config>