<?xml version="1.0"?>
<!--
/**
 * Space48_ProductAvailability
 *
 * @category    Space48
 * @package     Space48_ProductAvailability
 * @Date        03/2017
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 * @author      @diazwatson
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Magento\Catalog\Block\Product\View\Type\Simple" type="Space48\ProductAvailability\Block\Catalog\Product\View\Type\Simple"/>
    <preference for="\Magento\Catalog\Block\Product\View\Type\Virtual" type="Space48\ProductAvailability\Block\Catalog\Product\View\Type\Virtual"/>
    <preference for="\Magento\ConfigurableProduct\Block\Product\View\Type\Configurable" type="Space48\ProductAvailability\Block\Catalog\Product\View\Type\Configurable"/>
    <type name="Magento\GroupedProduct\Model\Product\Type\Grouped">
        <plugin name="addAttributesToGroupedAssociatedProducts" type="Space48\ProductAvailability\Plugin\Model\Product\Type\Grouped" sortOrder="1" disabled="false"/>
    </type>
</config>
